
@{
    ViewBag.Title = "ErrorPage";
}

<h2 class="text-danger">Application has encountered some Error.</h2>

@using (Html.BeginForm("Index", "Home"))
{
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Return to Index Page" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

