@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Source Control Practical Assignment</h1>
    <p class="lead">Made using ASP.Net MVC 5, Entity Framework and Nlog (for Logging). Database provided using Microsoft SQL Server</p>
</div>

<div class="row">
    <div class="col-md-6">
        <p><a class="btn btn-default" onclick="location.href = '@Url.Action("LogIn","LogIn")'">Log In &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-default" onclick="location.href = '@Url.Action("SignUp", "SignUp")'">Sign Up &raquo;</a></p>
    </div>
    <div class="text-success">@TempData["Message"]</div>
</div>